<mat-toolbar class="header" color="primary">
  <span>
    <img src="assets/logos/logo-lateral.jpeg" alt="E-Commerce Logo" style="height: 50px;">
  </span>

  <span class="spacer"></span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/products']">Products</button>
    <mat-divider></mat-divider>
    <button mat-menu-item *ngFor="let category of categories" [routerLink]="['/category', category.categoryName]">
      {{ category.categoryName }}
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>

  <span class="space-buttons"></span>
  
  <ng-container *ngIf="isLoggedIn()">
    <button mat-raised-button color="primary" routerLink="/">Home</button>
    <button *ngIf="!isAdmin()" mat-raised-button color="primary" (click)="navigateTo('category')">Category</button>
    <button *ngIf="!isAdmin()" mat-raised-button color="primary" (click)="navigateTo('products')">Products</button>
    <button *ngIf="!isAdmin()" mat-raised-button color="primary" (click)="navigateTo('location')">Location</button>
    <ng-container *ngIf="!isAdmin()">
      <button mat-raised-button color="primary" routerLink="/cart">Cart</button>
      <button mat-raised-button color="primary" routerLink="/myOrders">My Orders</button>
    </ng-container>
    <ng-container *ngIf="isAdmin()">
      <button mat-raised-button color="primary" routerLink="/addNewProduct">Add New Product</button>
      <button mat-raised-button color="primary" routerLink="/addCategory">Add New Category</button>
      <button mat-raised-button color="primary" routerLink="/addSpecialoffer">Add Special Offer</button>
      <button mat-raised-button color="primary" routerLink="/orderInformation">Order Information</button>
    </ng-container>
  </ng-container>
  
  <ng-container *ngIf="!isLoggedIn()">
    <button mat-raised-button color="primary" routerLink="/">Home</button>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
  </ng-container>

  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">
    Logout
  </button>
</mat-toolbar>
