<main>
  <!-- Barra di ricerca -->
  <div class="search-container">
    <label for="searchKey">Search any product</label>
    <input 
      type="text" 
      id="searchKey" 
      name="searchKey" 
      placeholder="Search any product" 
      (keyup)="searchByKeyword($event.target.value)">
  </div>

  <!-- Contenitore delle azioni (solo per amministratori) -->
  <div class="actions-container" *ngIf="isAdmin()">
    <div class="select-all-container">
      <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event.target.checked)">
      <label for="selectAll">Select All</label>
    </div>
    <button 
      type="button" 
      *ngIf="selectedProducts.length > 0"
      class="btn btn-danger" 
      (click)="deleteSelectedProducts()">
      Delete Selected
    </button>
  </div>

   <!-- Controlli di paginazione -->
   <div class="pagination-container">
    <button 
      type="button" 
      (click)="previousPage()" 
      [disabled]="pageNumber === 0 || loading" 
      class="btn btn-primary">
      &larr; Previous
    </button>
    <span>Page: {{ pageNumber + 1 }}</span>
    <button 
      type="button" 
      (click)="nextPage()" 
      [disabled]="!showLoadButton || loading"
      class="btn btn-primary">
      Next &rarr;
    </button>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Griglia dei prodotti -->
  <div class="grid-container" *ngIf="!loading && productDetails.length > 0">
    <div class="card" *ngFor="let p of productDetails">
      <div class="card-header">
        <img class="product-image" [src]="p.productImages[0]?.url" alt="{{ p.productName }}">
      </div>
      <div class="card-container">
        <h2 class="card-title">{{ p.productName }}</h2>
        <p class="card-subtitle">
          <b>Rs. {{ p.productDiscountedPrice }}</b>
          &nbsp; 
          <b class="original-price">{{ p.productActualPrice }}</b>
        </p>
        <div class="card-content">
          <p class="product-description">{{ p.productDescription }}</p>
        </div>
        <div class="card-actions">
          <button type="button" (click)="showProductDetails(p.productId)">View Details</button>
          <input 
            *ngIf="isAdmin()" 
            type="checkbox" 
            [checked]="isProductSelected(p.productId)" 
            (change)="toggleProductSelection(p.productId, $event.target.checked)">
        </div>
      </div>
    </div>
  </div>

  <!-- Messaggio se non ci sono prodotti -->
  <div *ngIf="!loading && productDetails.length === 0" class="no-products-container">
    <p>No products found.</p>
  </div>
</main>
