/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

main{
    padding: 15px;
}

.search-container {
    width: 100%;
    background-color: #fff;
}

.search-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.load-more-container {
    text-align: center;
    padding: 20px;
}

.load-more-container button {
    padding: 10px 20px;
    background-color: #2196f3;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.load-more-container button:hover {
    background-color: #1976d2;
}

@media (min-width: 700px) and (max-width: 850px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }
}

@media (max-width: 700px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        gap: 5px;
    }
}


.card {
    background-color: #fff;
    border: 2px solid #5000fdc1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 8px 8px 10px 0px #2500fd36;
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(53, 0, 229, 0.8); /* Deeper shadow on hover */
}

.card-header {
    padding: 0px;
    width: 100%;
  height: 203px;
}

.product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.original-price {
    text-decoration: line-through;
}

.card-content {
    flex-grow: 1;
}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}

.card-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.card-actions button {
    padding: 10px;
    background-color: #ff4081;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.card-actions button:hover {
    background-color: #e53070;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px
}

.text-danger {
    color: red;
    font-size: 0.875em;
  }